.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=Monofett&display=swap');
p {
  font-family: 'IBM Plex Mono', monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
a {font-family: 'Metal Mania', monospace;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}
.App-link {
  color: #da1951;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div{
  font-size: 16px;
  letter-spacing: 2px;
  cursor: grab;
  padding: 0.5em 0.5em;
  position: relative;
}
main {
  width: 450px;
  display: flex;
  position: absolute;
}
button, div2, input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #481525;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}





