@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
p {
  font-family: 'IBM Plex Mono', monospace;

}
a {
  font-family: 'Metal Mania', monospace;
  color: #65979a;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 100%; /* or max-width: 100%; */
    height: auto;
  }
}

.App-header {
  background-color: #325c61;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #da1951;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div{
  letter-spacing: 2px;
  cursor: grab;
  padding: 0.5em 0.5em;
  position: relative;
}
main {
  width: 450px;
  display: flex;
  position: absolute;
}
form {
  display: flex;
}


#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #224551;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #454f55;
}

img {
  width: 100%; /* or max-width: 100%; */
  height: auto;
}

